@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
#m_cssmenu,
#m_cssmenu ul,
#m_cssmenu ul li,
#m_cssmenu ul li a,
#m_cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1.3;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform:uppercase;
}
#m_cssmenu:after,
#m_cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#m_cssmenu #menu-button {
  display: none;
}
#m_cssmenu {
  width: auto;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  background: #c01f39;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display:none;
}
#m_cssmenu > ul > li {
  float: left;
  border-left:1px solid #023b5b;
}
#m_cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#m_cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#m_cssmenu.align-center ul ul {
  text-align: left;
}
#m_cssmenu.align-right > ul > li {
  float: right;
}
#m_cssmenu.align-right ul ul {
  text-align: right;
}
#m_cssmenu > ul > li > a {
  text-decoration: none;
  text-transform:uppercase;
  color: #fff;
  font-size:13px;
  letter-spacing:0.2em;
  font-weight:700;
  /*-webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;*/
}
#m_cssmenu > ul > li:hover > a{
  color: #fff;
  text-decoration:none;
  background: #d54a6a;
  background: -moz-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c01f39), color-stop(100%,#d54a6a));
  background: -webkit-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: -o-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: -ms-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: linear-gradient(to bottom,  #c01f39 0%, #d54a6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01f39', endColorstr='#d54a6a',GradientType=0 );
}
#m_cssmenu > ul > li.active > a,
#m_cssmenu > ul > li.active:hover > a {
  color: #fff;
  text-decoration:none;
  background: #d54a6a;
  background: -moz-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c01f39), color-stop(100%,#d54a6a));
  background: -webkit-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: -o-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: -ms-linear-gradient(top,  #c01f39 0%, #d54a6a 100%);
  background: linear-gradient(to bottom,  #c01f39 0%, #d54a6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01f39', endColorstr='#d54a6a',GradientType=0 );
  /*-webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;*/
}
#m_cssmenu > ul > li.has-sub > a {
  padding-right: 10px;
}
#m_cssmenu > ul > li.has-sub > a::after {
  /*position: absolute;
  top: 27px;
  right: 18px;
  width: 4px;
  height: 4px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;*/
}
#m_cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #fff;
}
#m_cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:999;
}
#m_cssmenu li:hover > ul {
  left: auto;
}
#m_cssmenu.align-right li:hover > ul {
  right: 0;
}
#m_cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#m_cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#m_cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#m_cssmenu ul li:hover > ul > li {
  height: 36px;
}
#m_cssmenu ul ul li
{
	border-bottom:none;
}
#m_cssmenu ul ul li a {
  padding: 10px 16px;
  width: 250px;
  font-size: 14px;
  background: #0a678d;
  text-decoration: none;
  text-align:left;
  color: #fff;
  /*-webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;*/
}
#m_cssmenu ul ul li:hover > a,
#m_cssmenu ul ul li a:hover {
  color: #fff;
  background-color:#35a0cb;
}
#m_cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#m_cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#m_cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 1100px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #m_cssmenu {
    width: 100%;
  }
  #m_cssmenu ul {
    width: 100%;
    display: none;
  }
  #m_cssmenu.align-center > ul,
  #m_cssmenu.align-right ul ul {
    text-align: left;
  }
  #m_cssmenu ul li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #c01f39/*rgba(120, 120, 120, 0.15)*/;
  }
  #m_cssmenu ul ul li,
  #m_cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
	border-bottom: none;
  }
  #m_cssmenu ul li a,
  #m_cssmenu ul ul li a {
    width: 100%;
	text-align:left;
	padding:10px 20px;
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:0.2em;
	background-color:#d54a6a;
  }
  #m_cssmenu > ul > li,
  #m_cssmenu.align-center > ul > li,
  #m_cssmenu.align-right > ul > li {
    float: none;
    display: block;
	padding:0px;
	border-left: 1px solid #c01f39/*rgba(120, 120, 120, 0.15)*/;
	border-right: 1px solid #c01f39/*rgba(120, 120, 120, 0.15)*/;
  }
  #m_cssmenu > ul > li:first-child
  {
	  border-left: 1px solid #c01f39/*rgba(120, 120, 120, 0.15)*/;
  }
  #m_cssmenu > ul > li:last-child
  {
	  border-right: 1px solid #c01f39/*rgba(120, 120, 120, 0.15)*/;
  }
  #m_cssmenu ul ul li a {
    padding: 10px 20px;
    font-size: 11px;
    color: #fff;
    background: none;
	border-top: 1px solid #d54a6a/*rgba(120, 120, 120, 0.15)*/;
	border-bottom: none;
  }
  #m_cssmenu ul ul li:hover > a,
  #m_cssmenu ul ul li a:hover {
    color: #fff;
	background-color:#d54a6a;
  }
  #m_cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #m_cssmenu ul ul,
  #m_cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #m_cssmenu > ul > li.has-sub > a::after,
  #m_cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #m_cssmenu #menu-button {
	  letter-spacing:0.2em;
    display: block;
	margin:0px 0px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
	font-weight:700;
	text-align:left;
    text-transform: uppercase;
	background-color:#c01f39;
  }
  #m_cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 24px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
  }
  #m_cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 14px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #m_cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    /*border-left: 1px solid rgba(255, 255, 255, 0.15);*/
    height: 48px;
    width: 52px;
    cursor: pointer;
  }
  #m_cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 17px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #fff;
    z-index: 99;
  }
  #m_cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 22px;
    display: block;
    width: 11px;
    height: 1px;
    background: #fff;
    z-index: 99;
  }
  #m_cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}